.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
}


@media (max-width: 768px) {
  .custom-card {
    max-height: 300px;
  }
}

.carousel-inner img {
  height: 100vh;
  object-fit: cover;
}

.carousel-inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.content {
  z-index: 2;
}

.navbar {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 3;
}
.outer-banner{
  width:100% !important;
 padding:0 !important;

}
body{
  overflow-x: hidden;
  margin:0;
  padding:0;
}
.banner{
  background-color: rgb(130, 6, 212);
  width:100% !important;
  padding-left:0 !important;
  padding-right:0 !important;
}
.icon{
  background-color: orangered;
  cursor:pointer;
}
.hover-white:hover {
  color: #ffffff !important;
}
.hover-facebook:hover {
  color: #1877F2 !important; 
}

.hover-twitter:hover {
  color: #1DA1F2 !important; 
}

.hover-linkedin:hover {
  color: #0A66C2 !important; 
}


@media (min-width:778px){
  .banner-img{
    width:320px;
    height:225px;
  }
}
@media (min-width:992px){
  .banner-img{
    width:420px;
    height:325px;
  }
}

